.fuchsia {color: #FF00FF;}
.purple {color: #800080;}
.orange {color: #FFA500;}
.yellow {color: #ffd500;}
.green {color: #008000;}
.blue {color: #0000FF;}
.cyan {color: #00c5c5;}
.red {color: #FF0000;}