.signForm {
  display: flex;
  width: min(90vw, 400px);
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.signForm img {
  width: 150px;
}

.signForm__group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.signForm__group input {
  padding: 8px;
  height: 40px;
  border: inset 4px #979797;
}

.signForm button {
  font-weight: 700;
  font-size: 20px;
  height: 50px;
  width: 100%;
  background: #d7d7d7;
  border: outset 3px #979797;
}

.error {
  height: 10px;
  color: red;
}